/**
 * Styles for Component.tsx
 * @created 2021-08-10 22:54:30
 * @author thanhtunguet <thanhtung.uet@gmail.com>
 */

.dropdownToggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #F1F1F1;
  border-radius: 33px;
  padding: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.pickerDropdown {
  flex-shrink: 1;
}

.pickerContainer {
  background-color: white;
  border-radius: 5px;
}
