__tests__
__fixtures__
__mocks__
ios/build
android/build
lib/typescript/example
example/
.DS_Store
.idea/
.git
.circleci
.eslintrc.js
.prettierrc.js
.editorconfig
.gitattributes
.gitignore
.vscode
node_modules
scripts
