/**
 * Styles for Component.tsx
 * @created 2021-08-10 16:56:41
 * @author thanhtunguet <thanhtung.uet@gmail.com>
 */

.maskedView {
  display: flex;
  flex-direction: row;
}

.opacity0 {
  opacity: 0;
}
