/**
 * Styles for Component.tsx
 * @created 2021-08-10 08:12:42
 * @author thanhtunguet <thanhtung.uet@gmail.com>
 */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.input {
  flex-grow: 1;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
