/**
 * Styles for Component.tsx
 * @created 2021-08-10 21:39:25
 * @author thanhtunguet <thanhtung.uet@gmail.com>
 */

.text {
  height: 50px;
  display: flex;
  width: 100%;
}

.inputIcon {
  padding-left: 12px;
  padding-right: 12px;
}
