/**
 * Styles for Component.tsx
 * @created 2021-08-10 16:59:44
 * @author thanhtunguet <thanhtung.uet@gmail.com>
 */

.selectedDay {
  background-color: #5D5FEF;
}

@mixin day() {
  font-size: 15px;
  line-height: 24px;
}

.day {
  @include day();
  color: #3F3356;
}

.sunday {
  @include day();
  color: #FFA26B;
}

.dateStyle {

}

.dateContainerStyle {

}

.modal {
  margin: 8px;
  justify-content: flex-end;
}

.calendarContainer {
  background-color: white;
  border-radius: 5px;
  padding: 16px;
}

.done {
  background-color: #5D5FEF;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
}

.textDone {
  font-size: 17px;
  line-height: 28px;
}
