/**
 * Styles for Component.tsx
 * @created 2021-08-11 16:39:05
 * @author thanhtunguet <thanhtung.uet@gmail.com>
 */

.input {
  background-color: white;
  border-radius: 5px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 12px;
}
