/**
 * Styles for Component.tsx
 * @created 2021-08-12 03:07:35
 * @author thanhtunguet <thanhtung.uet@gmail.com>
 */

.container {
  width: 100%;
  flex: 1;
  background-color: white;
}

.text {
  color: darkblue;
}
